<div class="header">
    <div class="avatar" style="height: 2rem;">
  </div>
  <div class="navbar">
    <!-- <div class="temp"> -->
      <ul>
        <%
          for(let item of theme.navbar) {
            if (item.enable) {
        %>
          <li class="nav-item" data-path="<%- item.path %>">
            <a href="<%- item.path %>"><%- item.name %></a>
          </li>
        <%
            }
          }
        %>
      </ul>
    <!-- </div> -->
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
